/** {*/
/*    background-color: red*/
/*}*/

#main-navbar {
    width: 140px;
    height: 100px;
}

.head-border {
    background-color: blue;
    height: 80px;
}

.jumbotron {
    background: url("../imgs/laptop-image.jpeg");
    background-size: cover;
    height: 350px;
}

/*img { width: 250px;*/
/*    height: 250px;*/
/*}*/

#head-photo-small {
    box-shadow: 10px 5px 5px black;
    width: 400px;
    height: 400px;
}

#head-photo-large {
    width: 250px;
    height: 250px;
    box-shadow: 10px 5px 5px black;
}

main {
    background-color: cornflowerblue;
}

.fa-1x {
    font-size: 1.5rem;
}

.navbar-toggler.toggler-example {
    cursor: pointer;
}